COMPOSE_PROJECT_NAME=ups-erecruit
POSTGRES_DB=erecruit
POSTGRES_USER=erecruit
POSTGRES_PASSWORD=change-this-development-password
REDIS_PASSWORD=change-this-development-password
MINIO_ROOT_USER=erecruit-minio
MINIO_ROOT_PASSWORD=change-this-development-password
MINIO_BUCKET=erecruit-private
DOCUMENT_WORKER_TOKEN=change-this-development-token
APP_PORT=8080
WEB_PORT=5173
API_PORT=8000
WORKER_PORT=8001
POSTGRES_PORT=54321
REDIS_PORT=63791
MINIO_API_PORT=9010
MINIO_CONSOLE_PORT=9011
MAILPIT_SMTP_PORT=1026
MAILPIT_UI_PORT=8026
