* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
/database/data/uganda_admin_units_nodes.csv -text -diff -merge

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
